<h1>Editar email y contraseña</h1>
<form action="/edit" method="POST">
  <label>Email: <input type="email" name="email" value="{{currentEmail}}" /></label>
  <label>Password: <input type="password" name="password" /></label>
  <button type="submit">Actualizar</button>
</form>
